.emp-experience {
  display: flex;
  justify-content: flex-end;
}
.experience-card {
  border: solid black 1px;
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
}
.text-container{
  width: 100%;
  padding: 12px 20px;
  min-height: 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
